#root {
  min-height: 100vh;
}

.app {
 margin: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.list {
  margin-top: 10px;
}

.counter {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid blueviolet;
  border-radius: 4px;
}

.counter__state {
  font-size: 1.2rem;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  background: gold;
  border: 1px solid darkgoldenrod;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: darkgoldenrod;
}


.list {
  padding: 0;
}

.list__item {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  border: 1px solid skyblue;
}

.list__item + .list__item {
  margin-top: 5px;
}

.list__btn {
  margin-left: auto;
  padding: 5px 8px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: 1px solid skyblue;
}
